body {
  font-family: Arial, sans-serif;
  background-color: #0b0b0b;
  color: white;
  text-align: center;
  margin: 0;
  padding: 0;
}

button {
  margin: 10px;
  padding: 8px 16px;
  border: none;
  background-color: #444;
  color: white;
  cursor: pointer;
  border-radius: 6px;
}

button:hover {
  background-color: #666;
}

.section-title {
  cursor: pointer;
  color: #58a6ff;
}

.subtitle {
  font-size: 1.3rem;
  color: #aaa;
}

.app-container {
  padding: 20px;
  max-width: 600px;
  margin: auto;
}
